# API Configuration
NUXT_PUBLIC_API_BASE_URL=http://localhost:3000
STRIPE_PUBLISHABLE_KEY=pk_test_51TO0rMBSYRSpmIy4W7p0AyEf0J2MMhAIYOyljSQVvcJvXQrbff52klnHba3E2WIObdGtnyanjZizPcN90vzM4y0M00YUCcCkvg
STRIPE_SECRET_KEY=sk_test_51TO0rMBSYRSpmIy43k0u5gnbzGGAjIdIUcI2k8XPEkNieHNn8iDY0ZTRAFeskIdgb2RatBx59TsXLvxW2HIio2gF006RU9zUYS